@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <h1 class="text-center">@ViewData["Title"]</h1>
            <div class="alert alert-success text-center" role="alert">
                <i class="bi bi-check-circle-fill me-2"></i> Please check your email to reset your password.
            </div>
            <p class="text-center">
                If you are registered, you will receive an email with instructions on how to reset your password.
            </p>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}